# Data types

## Built-in Data Types

- In programming, data type is an important concept.
- Variables can store data of different types, and different types can do different things.
- Python has the following data types built-in by default, in these categories:

#### Text Type       : 	       str
#### Numeric Types : 	  int, float , complex 
#### Sequence Types: 	list, tuple, range
#### Mapping Type  : 	  dict
#### Set Types     : 	      set
#### Boolean Type  : 	  bool

In [2]:
#You can get the data type of any object by using the type() function:

In [1]:
#string 
x = "Hello World"
v = "gaby"
type(v)

str

In [8]:
#integer can accept negative values also 
x = 20 
x = -24
type(x)

int

In [2]:
#float 
x = 30.3 
x = -89.4
f= 54.356 

type(f)

float

In [3]:
#complex 
x = 3+4j #same as 3+4i in maths we had complex numbers 
type(x)
s = 4 - 3j 
type(s)

complex

In [4]:
#list 
x = ["apple", "banana", "cherry"]
type(x)

list

In [13]:
#tuple
x = ("apple", "banana", "cherry")
type(x)

tuple

In [5]:
#range
x = range(6,10)
type(x)

range

In [6]:
#dictionary
x = {"name" : "John", "age" : 36}
type(x)

dict

In [17]:
#set 
x = {"apple", "banana", "cherry"}
type(x)

set

In [21]:
#bool 
x = True   #case sensitive true is not bool ........ True is bool
y = False 
type(x)

bool

In [7]:
a = True
type(a) ## print(type(True))

bool

In [8]:
#can also use print(type(b)) to find out the data type 
b = False
print(type(b))

<class 'bool'>

# Strings
## Series of characters enclosed withing single or double quotes

In [26]:
# single quotes
a = 'Good evening '
print(a)
b = 'Gaby'
print(b)

Good evening
Gaby

In [32]:
# double quotes 
a = "python"
b = "is easy"
print(a) 
print(b)

python
is easy

In [33]:
# required string = I'm Learning python 

# 1) using single quotes
a = 'I\'m a good boy' #either use \ before '  or use other inverted commas single or double 
print(a)

# 2) using double quotes
b = "I'm a good boy"
print(b)

I'm a good boy
I'm a good boy

In [34]:
# required string = I am Learning "python" 

# 1) using single quotes
a = 'I am an "Engineer"'
print(a)

# 2) using double quotes
b = "I am an \"Engineer\""
print(b)

I am an "Engineer"
I am an "Engineer"

In [9]:
# len()
# returns the length of the string

a = "Gaby"
len(a)

4

# String indexing

In [11]:
# examples on indexing
a = "GABY"

- G A B Y 
- 0 1 2 3

In [38]:
print(a[0])

G

In [12]:
print(a[1])

A

#### Reverse indexing

#  G      A      B      Y 
# -4 -3 -2 -1

In [43]:
print(a[-1])

Y

In [44]:
print(a[-3])

A